ARTEMIS_USER=admin
ARTEMIS_PASSWORD=admin123
ARTEMIS_AMQP_URL=tcp://artemis:61616
ARTEMIS_AMQP_HOST_PORT=5672
ARTEMIS_CORE_HOST_PORT=61617
ARTEMIS_MQTT_HOST_PORT=1883
ARTEMIS_CONSOLE_HOST_PORT=8162
ADMIN_PASSWORD=traccar
POSTGRES_DB=delivery
POSTGRES_USER=delivery
POSTGRES_PASSWORD=delivery123
POSTGRES_HOST_PORT=5433
DELIVERY_DB_URL=jdbc:postgresql://postgres:5432/delivery
DELIVERY_HTTP_PORT=8083
